@font-face {
    font-family: 'iran-bold';
    src: url("fonts/sans-bold.woff");
}
@font-face {
    font-family: 'iran-light';
    src: url("fonts/sans-light.woff");
}


/* main and resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #f7f7f7;
    --accent_color: #2ecc71;
    --primary-text-color: #333333;
    --secondary_text_color: #666666;
    --bg-color: #E5E9F0;
    --bg-color-light: #D9D9D9;
    /*Background Colors:*/
    --header_background: #2f343a;
    --body_background: #f9f9f9;
    /*Button Colors:*/
    --primary_button_color: #3498db;
    --secondary_button_color: #2ecc71;
  }

body {
    font-family: iran-light;
    color:  var(--primary-text-color);
    font-weight: 300;
    line-height: 1.6;
    direction: rtl;
}
a{
    text-decoration: none;
}
a:visited{
    color: var(--primary-text-color);
}
ul{
    list-style: none;
}
hr{
    color: var(--primary-text-color);
    width: 85vw;
    text-align: center;
    margin: 1rem auto;
    opacity: .4;
}
/* header and nav */

header {
    display: grid;
    padding: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content max-content;
}

.header__logo{
    height: 2.5rem;
    grid-row: 1/1;
    align-self: center;
}
.header__login{
    grid-row: 1/1;
    align-content: center;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: iran-bold;
    
}
.header__nav{
    grid-column: 1/-1;
    margin-top: 1rem;
    padding: 0 .5rem;
}
.header__nav-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-size: .7rem;
    gap: 1rem;
    justify-content: space-between;
}
.header__nav-list__item{
    display: flex;
    flex-direction: column;
}

/* hero */
.c-hero{
    margin-top: .5rem;
    padding: 1rem;
    background-color: var(--primary-color);
    height: 18rem;
    text-align: right;
}
.c-hero__title{
    font-family: iran-bold;
    margin-bottom: .5rem;
    color: var(--secondary-color);
}
.c-hero__ctr{
    background-color: var(--secondary-color);
    padding: .2rem;
    border-radius: .7rem;
    margin-top: .5rem;
    text-align: right;
}

.c-benefits{
    margin: .1rem 0;
}

.c-benefits-list{
    display: flex;
    flex-wrap: wrap;
    gap: .1rem;
    justify-content: space-between;
    /* padding: 0 1rem; */
    flex-direction: column;
    text-align: right;
}
.c-benefits-list__item{
    background-color: var(--secondary_text_color);
    padding: .5rem 1.5rem;
    color: white;
}
.c-featured_properties a{
    background-color: var(--accent_color);
    border-radius: .5rem;
    float: left;
    margin: 1rem;
    padding: 0 .5rem;
}
.c-featured_properties-list__item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
}
.c-featured_properties-list__item--left{
    display: flex;
    gap: .2rem;
    flex-direction: column;
    justify-content: space-between;
}
.c-featured_properties-list__item--left li{
    display: flex;
    gap: .2rem;
}